{{- if not (has .profile (list "home" "work")) -}}
{{-   fail "profile must be home or work" -}}
{{- end -}}
#!/bin/sh

{{ if eq .profile "work" -}}
export QT_QPA_PLATFORMTHEME=qt6ct
{{ end -}}

if [ -x "$HOME/.config/awesome/display-setup.sh" ]; then
    "$HOME/.config/awesome/display-setup.sh"
fi
